:root {
    --cream: rgb(239, 239, 239);
    --dark-blue: rgba(40, 44, 52, 1);
    --darker-blue: rgba(35, 37, 42, 1);
    --light-blue: rgb(100, 174, 235);
    --bright-blue: rgb(51, 121, 187);
    --dark-grey: rgba(51, 51, 51, 1);
    --light-grey: rgb(214, 214, 214);
    --transparent: rgba(0, 0, 0, 0);
    --translucent-white1: rgb(255, 255, 255, .1);
    --translucent-white2: rgb(255, 255, 255, .4);
    --translucent-black: rgb(0, 0, 0, .6);
    --blue1: rgb(1, 79, 134);
    --brown1: rgb(237, 224, 212);
    --brown2: rgb(230, 204, 178);
    --brown3: rgb(221, 184, 146);
    --brown4: rgb(176, 137, 104);
    --brown5: rgb(127, 85, 57);
    --green1: rgb(233, 245, 219);
    --green2: rgb(207, 225, 185);
    --green3: rgb(181, 201, 154);
    --green4: rgb(151, 169, 124);
    --green5: rgb(135, 152, 106);
    --green6: rgb(113, 131, 85);
    --primary-color: var(--cream); 
    --secondary-color: var(--dark-blue);
    --tertiary-color: var(--dark-grey);
    --primary-accent-color: var(--bright-blue);
    --secondary-accent-color: var(--light-grey);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color:var(--primary-color);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.preloader {
	position: absolute;
	margin-left: -55px;
	margin-top: -100px;
	height: 110px;
	width: 110px;
	left: 50%;
	top: 50%;
}

svg {
  width: 110px;
  height: 110px;
}

path {
  stroke: var(--secondary-color);
  stroke-width: 0.25;
  fill: var(--primary-color);
}

#cloud {
  position: relative;
  z-index: 2;
}

#cloud path {
  fill: #efefef;
}

#sun {
  margin-left: -10px;
  margin-top: 6px;
  opacity: 0;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 45px;
  top: 15px;
  z-index: 1;
  
  animation-name: rotate;
  animation-duration: 16000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#sun path {
  stroke-width: 0.18;
  fill: var(--secondary-color);
}


@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

/* Rain */
.rain {
  position: absolute;
  width: 70px;
  height: 70px;
  margin-top: -32px;
  margin-left: 19px;
}

.drop {
  opacity: 1;
  background: var(--tertiary-color);
  display: block;
  float: left;
  width: 3px;
  height: 10px;
  margin-left: 4px;
  border-radius: 0px 0px 6px 6px;
  
  animation-name: drop;
  animation-duration: 350ms;
  animation-iteration-count: infinite;
}

.drop:nth-child(1) {
  animation-delay: -130ms;
}

.drop:nth-child(2) {
  animation-delay: -240ms;
}

.drop:nth-child(3) {
  animation-delay: -390ms;
}

.drop:nth-child(4) {
  animation-delay: -525ms;
}

.drop:nth-child(5) {
  animation-delay: -640ms;
}

.drop:nth-child(6) {
  animation-delay: -790ms;
}

.drop:nth-child(7) {
  animation-delay: -900ms;
}

.drop:nth-child(8) {
  animation-delay: -1050ms;
}

.drop:nth-child(9) {
  animation-delay: -1130ms;
}

.drop:nth-child(10) {
  animation-delay: -1300ms;
}


@keyframes drop {
  50% {
    height: 45px;
    opacity: 0;
  }

  51% {
    opacity: 0;
  }

  100% {
    height: 1px;
    opacity: 0;
  }
}

.text {
	font-family: Helvetica, 'Helvetica Neue', sans-serif;
	letter-spacing: 1px;
	text-align: center;
	margin-left: -43px;
	font-weight: bold;
	margin-top: 20px;
	font-size: 11px;
	color: var(--secondary-color);
	width: 200px;
}